/* Set default font and background color */
body {
	font-family: Arial, sans-serif;
	background-color: ghostwhite;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Style the header */
header {
	background-color: darkcyan;
	color: white;
	text-align: center;
	padding: 0px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

/* Style the navigation menu */
nav {
	background-color: #333;
	color: white;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #dd4b39;
}

/* Style the main content */
main {
	margin: 20px;
}

section {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px #888888;
}

h2 {
	color: #dd4b39;
}

/* Style the footer */
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}
section{
    padding: 100px 200px;
    color: black;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(pic/codingmm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.main h2{
    color: aliceblue;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline;
    margin-top: 10px;
    color: bisque;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: antiquewhite;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{

color: antiquewhite;
background-color: deepskyblue;
text-decoration: none;
font-size: 1.6em;
font: weight 400px;;
display: inline-block;
padding: 0.9375em.1875em;
letter-spacing: 1px;
border-radius: 30px;
margin-bottom: 40px;
transition: 0.7s ease;
}
